
  <nav class="navbar navbar-default affix-top" role="navigation" id="BB-nav">
      <div class="container-fluid">
          <div class="container-fluid nav-container">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".BB-nav">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
               <ul class="nav navbar-nav navbar-left nav-pills">
                  <li>
                  <a href=""><img src="img/logo.png" class="img-responsive logo"></a>
                  </li>
               </ul>
          </div>
      </div>
  </nav>
  <div class="container login">
    <div class="row business-box" style="padding: 7%">
        <div class="col-sm-6">

               <div class="omb_login">
                <h3 class="omb_authTitle">Login </a></h3>

              <div class="row">
                <div class="col-xs-6 col-sm-12 P0">
                    <div class="formone">
                        <form name="loginForm" ng-submit="loginForm.$valid && staticLogin()" novalidate>
                              <input name="email" placeholder="Email" type="email" ng-model="userinfo.email"
                              ng-pattern='/^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'  required>
                              <div ng-messages="loginForm.$submitted && loginForm.email.$error" class="error_msg" >
                                    <div ng-message="required">Please enter your email address.</div>
                                    <div ng-message="email">Please enter valid email.</div>
                                    <div ng-message="pattern">Please enter valid email.</div>
                                  </div>

                              <span class="highlight" ></span><span class="bar"></span>
                            <div class="group">
                              <input name="password" placeholder="Password" type="password"  ng-model="userinfo.password" required>
                              <span class="highlight"></span><span class="bar"></span>
                              <div ng-messages="loginForm.$submitted && loginForm.password.$error" class="error_msg">
                                  <div ng-message="required">Please Enter password</div>
                              </div>

                            </div>
                            <button type="submit" class="buttonone buttonBlue" >LOGIN
                              <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                            </button>
                              <div class="error_msg" ng-if="showloginerrmsg">{{loginerrmsg}}</div>

                          </form>
                          <a href ="" ng-click="redirectadmin()">Login as Seller</a>
                    </div>
                </div>

            </div>

          </div>
        </div>
        <div class="col-sm-6">

               <div class="omb_login">
                <h3 class="omb_authTitle">Socail Login</h3>
              <div class="row omb_socialButtons">
                    <div class="col-xs-6 col-sm-12 P0">
                      <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
                        <i class="fa fa-facebook visible-xs"></i>
                        <span class="hidden-xs">Sign in with Facebook</span>
                      </a>
                    </div>
                    <div class="col-xs-6 col-sm-12 P0">
                      <a class="btn btn-lg btn-block omb_btn-google" g-click="googleLogin()" >
                        <i class="fa fa-google-plus visible-xs"></i>
                        <span class="hidden-xs">Sign in with Google+
                        </span>
                        <span class="btn-google">
                          <google-plus-signin clientid="609435177292-7k76qe0l06vcjmv58l8fteiht3aq9c5k.apps.googleusercontent.com"></google-plus-signin>
                        </span>

                      </a>
                    </div>
              </div>

          </div>
        </div>
      </div>
